/* color: #d4bfa1; - warmsand
   color: #00FF00; - lime accent
   color: #1C1C1E; - charcoal
*/

/* HOME PAGE + GENERIC STYLES */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 10rem;
    background-color: #d4bfa1;
}

main {
    flex: 1;
    margin-top: 1rem;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

nav.horizontal ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
    background-color: #1C1C1E;
}

nav.horizontal ul li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

nav.horizontal ul li a {
    display: flex;
    flex-grow: 1;
    color: #d4bfa1;
    font-family: Figtree;
    justify-content: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav.horizontal ul li a:hover {
    background-color: #00FF00;
}

body main article h1 {
    border: 2px solid #1C1C1E;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 75%;
    font-family: 'DM Sans';
    color: #1C1C1E;
    line-height: 1.5;
}

footer {
    width: 100%;
    background-color: #1C1C1E;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

footer nav.vertical {
    color: #1C1C1E;
}

footer nav.vertical ul {
    padding: 0;
    list-style-type: none;
    color: #d4bfa1;
}

footer nav.vertical ul li a {
    margin-left: auto;
    margin-right: auto;
    color: #d4bfa1;
    font-family: Figtree;
    text-decoration: none;
}

footer nav.vertical ul li a:hover {
    background-color: #00FF00;
}

/* ABOUT PAGE */
p#p1, p#p2, p#p3, p#p4, p#p5 {
	text-indent: 50px;
	font-family: 'DM Sans';
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: justify;
	line-height: 1.5rem;
}

P#about-paragraphs {
	margin-top: 50px;
}

/* SHOWCASE PAGE */
main nav#showcase ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;     
}

main nav#showcase ul li {
    display: flex;
    flex-basis: 35%;
    justify-content: center;
    align-content: center;
}

main nav#showcase ul li a {
    display: flex; 
    width: 100%;
    height: 100%;
    align-content: center;   
}

main nav#showcase ul li img {
    width: 100%;
    height: auto;
    display: block;
}

/* CONTACT PAGE */
main.contact {
    display: flex;
    flex-basis: 75%;
    justify-content: center;
    height: 100%;
}

form {
    background-color: #1C1C1E;
    color: #d4bfa1;
    display: flex;
    flex-flow: column;
    flex-basis: 50%;
    border: 2px solid #1C1C1E;
    height: 95%;
    width: 100%;
    align-self: center;
    align-items: center;
}

label, input {
    align-self: start;
}

textarea {
    height: 95%;
    width: 99%;
    margin-bottom: 5px;
    resize: none;
}

input {
    width: 35%;
    align-self: start;
}

input#submission {
    align-self: center;
    margin-bottom: 5px;
}

input#submission:hover {
    color: #00FF00;
}

label#messagelabel {
    font-size: 24px;
    align-self: center;
    text-decoration: underline;
    margin-top: 10px;
}

div.form-vertical {
    display: flex;
    flex-flow: column;
    align-self: start;
    justify-content: start;
    width: 100%;
    gap: 5px;
}

.labels {
    display: flex;
    flex-flow: row;
    gap: 5px;
}


